@import 'carbon-components/css/carbon-components.min.css';
@import "@carbon/ibm-products/css/index.min.css";
@import '@carbon/ibm-products/scss/components/InlineEdit/inline-edit';

.App {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 2rem;
}

.page-wrapper {
  margin-left: 16rem;
  margin-top: 3rem;
}

.link-active {
  color: red;
}

.custom-cell-wrapper {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
